* {
  margin: 0;
  padding: 0;
}

.accordian {
  width: 40vw;
  height: 320px;
  overflow: hidden;
  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordian ul {
  width: 60vw;
}

.accordian li {
  position: relative;
  display: block;
  width: 6.5vw;
  float: left;
  border-left: 1px solid #888;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.accordian ul:hover li {
  width: 5vw;
}

.accordian ul li:hover {
  width: 25%;
}

.accordian li img {
  display: block;
}

.image_title {
  background: rgba(0, 0, 0, 0.123);
 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
  height: 60px;
}

.image_title h3{
  color: white;

}



@media only screen and (max-width: 960px) {
  .bigSlider {
   display: none;
  }
#inputRadius {
  display: none;
 }


}

@media only screen and (min-width: 960px) {
  .smallSlider {
    display: none;
  }
}
